@import "../pages/them-color.scss";
@import "../components/compoStyles/media.scss";
@mixin hoverItem($item, $itemColor) {
  &:hover {
    #{$item}: $itemColor; //보간
    transition: #{$item} 0.2s linear;
  }
}

@mixin postBox {
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid var(--line);
  &:hover {
    background-color: var(--btn3);
  }
}

@mixin postBoxItem {
  align-self: center;
  line-height: 50px;
  color: var(--text);
}
@mixin flexCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body {
  h2,
  h3,
  h4 {
    color: var(--title);
  }
  p {
    color: var(--text);
  }
  ul,
  ol {
    color: var(--title);
  }
  li {
    color: var(--text);
  }
  a {
    color: var(--text);
  }
  main {
    position: relative;
    .blog-post-container {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      max-width: 820px;

      .blog-post-title {
        margin-top: 80px;
        margin-bottom: 50px;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--line);
        h1 {
          font-size: 2.25rem;
        }
        .blog-post-subtitle {
          display: flex;
          justify-content: space-between;

          .blog-post-tagbox {
            padding-bottom: 0.5rem;
            a {
              cursor: pointer;
              margin-right: 10px;
              padding: 5px;
              border-radius: 10px;
              font-size: 1rem;
              background-color: var(--btn);
              color: white;
              &:hover {
                transition: background-color 0.5s ease-out;
                background-color: var(--active);
              }
            }
          }
          span {
            margin-right: 1rem;
            font-weight: bold;
            color: var(--subtitle);
          }
        }
      }
      .other-page {
        display: flex;
        justify-content: space-between;
        margin-top: 30rem;
        margin-bottom: 5rem;

        .other-page-text {
          font-size: 1rem;
          width: 150px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-weight: bold;
          color: var(--text);
        }
        .other-page-subtext {
          font-size: 0.9rem;
          color: var(--subtitle);
        }
        .other-page-prev {
          &:hover {
            .other-page-text {
              transition: color 0.2s linear;
              color: var(--htext);
            }
            .other-page-subtext {
              transition: color 0.2s linear;
              color: var(--htext);
            }
            .other-page-prev-left {
              transition: all 0.2s linear;
              margin-right: 20px;
              color: var(--htext);
            }
          }
          @include postBox;
          .other-page-prev-left {
            @include postBoxItem;
            margin-right: 10px;
          }
          div {
            @include flexCenter;
            align-items: flex-end;
          }
        }
        .other-page-next {
          &:hover {
            .other-page-text {
              transition: color 0.2s linear;
              color: var(--htext);
            }
            .other-page-subtext {
              transition: color 0.2s linear;
              color: var(--htext);
            }
            .other-page-next-right {
              transition: all 0.2s linear;
              margin-left: 20px;
              color: var(--htext);
            }
          }
          @include postBox;
          .other-page-next-right {
            @include postBoxItem;
            margin-left: 10px;
          }
          div {
            @include flexCenter;
          }
        }
      }
      @include smallerMobile {
        width: 95%;
        .blog-post-title {
          h1 {
            font-size: 1.8rem;
          }
          .blog-post-subtitle {
            span {
              font-size: 0.75rem;
            }
            .blog-post-tagbox {
              a {
                font-size: 0.75rem;
              }
            }
          }
        }

        .other-page {
          flex-wrap: wrap;
          justify-content: center;
        }
      }
    }
  }
}
