$black: #1b1b1b;
$gray: #636363;
$lgray: #8d8d8d;
$vlgray: #bdbdbd;
$dgray: #2c2d31;
$white: #ecedf1;
$lwhite: #f2f3f7;
@mixin hoverItem($item, $itemColor) {
  &:hover {
    #{$item}: $itemColor; //보간
    transition: #{$item} 0.2s linear;
  }
}

@mixin postBox {
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid $vlgray;
  @include hoverItem(background-color, $dgray);
}

@mixin postBoxItem {
  align-self: center;
  line-height: 50px;
  color: $dgray;
}
@mixin flexCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body {
  main {
    position: relative;
    .blog-post-container {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      max-width: 820px;
      .blog-post-title {
        margin-top: 80px;
        margin-bottom: 50px;
        padding-bottom: 10px;
        border-bottom: 1px solid $lgray;
        h1 {
          font-size: 3.25rem;
        }
        .blog-post-subtitle {
          display: flex;
          justify-content: space-between;
          color: $gray;

          .blog-post-tagbox {
            padding-bottom: 0.5rem;
            a {
              cursor: pointer;
              margin-right: 10px;
              padding: 5px;
              border-radius: 10px;
              font-size: 1rem;
              background-color: $lgray;
              color: white;
              &:hover {
                transition: background-color 0.5s ease-out;
                background-color: $black;
              }
            }
          }
          span {
            margin-right: 1rem;
            font-weight: bold;
            color: $lgray;
          }
        }
      }
      .other-page {
        display: flex;
        justify-content: space-between;

        .other-page-text {
          font-size: 1.2rem;
          font-weight: bold;
          color: $dgray;
        }
        .other-page-subtext {
          font-size: 0.9rem;
          color: $lgray;
        }
        .other-page-prev {
          &:hover {
            .other-page-text {
              transition: color 0.2s linear;
              color: $white;
            }
            .other-page-subtext {
              transition: color 0.2s linear;
              color: $white;
            }
            .other-page-prev-left {
              transition: all 0.2s linear;
              margin-right: 20px;
              color: $white;
            }
          }
          @include postBox;
          .other-page-prev-left {
            @include postBoxItem;
            margin-right: 10px;
          }
          div {
            @include flexCenter;
            align-items: flex-end;
          }
        }
        .other-page-next {
          &:hover {
            .other-page-text {
              transition: color 0.2s linear;
              color: $white;
            }
            .other-page-subtext {
              transition: color 0.2s linear;
              color: $white;
            }
            .other-page-next-right {
              transition: all 0.2s linear;
              margin-left: 20px;
              color: $white;
            }
          }
          @include postBox;
          .other-page-next-right {
            @include postBoxItem;
            margin-left: 10px;
          }
          div {
            @include flexCenter;
          }
        }
      }
    }
  }
  &.dark {
    $gray: #727272;
    h2,
    h3,
    h4 {
      color: $lgray;
    }
    p {
      color: $gray;
    }
    .blog-post-container {
      .blog-post-title {
        border-bottom: 1px solid $gray;
        h1 {
          font-size: 3.25rem;
          color: $lgray;
        }
        .blog-post-subtitle {
          .blog-post-tagbox {
            a {
              cursor: pointer;
              background-color: $gray;
              color: white;
              &:hover {
                background-color: $lgray;
              }
            }
          }
          span {
            color: $gray;
          }
        }
      }
    }
    .other-page {
      .other-page-text {
        color: $lgray !important;
      }
      .other-page-subtext {
        color: $gray !important;
      }
      .other-page-prev {
        &:hover {
          .other-page-text {
            transition: color 0.2s linear;
            color: $white !important;
          }
          .other-page-subtext {
            transition: color 0.2s linear;

            color: $white !important;
          }
          .other-page-prev-left {
            transition: all 0.2s linear;
            margin-right: 20px;
            color: $white;
          }
        }
        @include postBox;
        border: 1px solid $gray !important;
        .other-page-prev-left {
          @include postBoxItem;
          margin-right: 10px;
        }
        div {
          @include flexCenter;
          align-items: flex-end;
        }
      }
      .other-page-next {
        &:hover {
          .other-page-text {
            transition: color 0.2s linear;
            color: $white !important;
          }
          .other-page-subtext {
            transition: color 0.2s linear;
            color: $white !important;
          }
          .other-page-next-right {
            transition: all 0.2s linear;
            margin-left: 20px;
            color: $white;
          }
        }
        @include postBox;
        border: 1px solid $gray !important;
        .other-page-next-right {
          @include postBoxItem;
          margin-left: 10px;
        }
        div {
          @include flexCenter;
        }
      }
    }
  }
}
