@import "../pages/them-color.scss";
@import "../components/compoStyles/media.scss";
body {
  .tag_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    .tag_list_title {
      color: var(--title);
    }
    .tag_item {
      position: relative;
      width: 560px;
      height: 240px;
      border-bottom: 1px solid var(--line);
      display: flex;
      align-items: center;
      p {
        font-size: 0.9rem;
        padding-left: 15px;
        color: var(--text);
      }

      .tag_item_date {
        position: absolute;
        font-size: 0.9rem;
        left: 0px;
        bottom: 0px;
        color: var(--subtitle);
        font-weight: bold;
      }

      .tag_item_tag {
        position: absolute;
        right: 0px;
        bottom: 10px;

        a {
          cursor: pointer;
          margin-right: 10px;
          padding: 5px;
          border-radius: 8px;
          font-size: 1rem;
          background-color: var(--btn);
          color: white;
          &:hover {
            transition: background-color 0.5s ease-out;
            background-color: var(--active);
          }
        }
      }
    }
    @include smallerMobile {
      h1 {
        font-size: 1.4rem;
      }
      .tag_item {
        width: 95%;
        h1 {
          margin-left: 5px;
        }
      }
    }
  }
}
