$black: #1b1b1b;
$gray: #636363;
$lgray: #838383;
$vlgray: #bdbdbd;
$dgray: #2c2d31;
@import "../../pages/them-color.scss";
@import "./media.scss";
@mixin item_flex {
  display: flex;
  align-items: center;
}
@keyframes slide {
  from {
    margin-bottom: -30px;
  }
  to {
    margin-bottom: 0px;
  }
}
@keyframes slideout {
  from {
    margin-bottom: 0px;
  }
  to {
    margin-bottom: -30px;
  }
}
@mixin show_sns($from: 1, $through: 4) {
  @for $i from $from through $through {
    &:nth-child(#{$i}) {
      animation-name: slide;
      animation-duration: 0.8s;
      transition: opacity 0.5s ease-in-out #{$i/10}s;
      opacity: 1;
    }
  }
}
@mixin hide_sns($from: 1, $through: 4, $hideSpeed: 0.3) {
  $num: $hideSpeed;
  @for $i from $from through $through {
    animation-name: slideout;
    animation-duration: 1.5s;
    &:nth-child(#{$i}) {
      transition: opacity 0.5s ease-in-out #{$num}s;
      opacity: 0;
    }
    $num: $num - 0.1;
  }
}
.header-container {
  transition: all 0.4s ease-in-out;
  position: sticky;
  height: 180px;
  top: 0;
  z-index: 1;
  &.hidden {
    z-index: -1;
    top: -180px;
    header {
      top: -180px;
    }
  }
  @include mobile {
    height: 120px;
    background-color: var(--bg);
  }
  header {
    transition: all 0.4s ease-in-out;
    height: 100%;
    position: relative;
    @include item_flex();
    justify-content: space-between;
    top: 0px;
    a {
      text-decoration: none;
      font-weight: bold;
      font-size: 1.5625rem;
      transition: font-size 0.4s ease-in-out;
    }
    img {
      height: 90px;
      margin-right: 3px;
      padding: 3px;
      border-radius: 50%;
      border: 3px solid var(--btn2);
      transition: height 0.4s ease-in-out;
    }
    span {
      color: var(--subtitle);
      font-size: 1.5rem;
      transition: font-size 0.4s ease-in-out;
    }

    .title_container {
      position: relative;
      @include item_flex();
      .title {
        @include item_flex();
        align-items: flex-end;
        max-width: 400px;
        height: 100%;
        margin-left: 20px;
        .title_text {
          color: var(--blogtitle);
          font-family: "Nanum Pen Script", cursive;
          font-size: 2.5rem;
          display: flex;
          flex-direction: column;
          transition: font-size 0.4s ease-in-out;
          @include mobile {
            font-size: 1.3rem;
          }
        }
      }
      .about_btn {
        font-family: "Nanum Pen Script", cursive;
        font-size: 1.1rem;
        font-weight: 500;
        margin-left: 10px;
        border-radius: 5px;
        padding: 3px;
        background-color: var(--btn2);
        color: white;

        position: relative;
        //top: 0px;
        &:hover {
          transition: all 0.4s ease-out;
          background-color: var(--active);
        }
      }
    }
    .contect_sns {
      position: absolute;
      margin-left: 20px;
      width: 102px; //이미지와 맞춘다.
      display: flex;
      justify-content: center;
      margin-bottom: -8rem;
      cursor: pointer;
      button {
        margin: 0 auto;
        font-size: 1.25rem;
        background-color: transparent;
        color: var(--btn2);
        border: none;
        outline: none;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        &.active {
          transform: rotate(180deg);
        }
      }
      div {
        width: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        margin-top: 1.5rem;

        a {
          display: none;
          margin-top: 5px;
          color: var(--btn2);

          &.hidden {
            //display 속성은 트랜지션의 영향을 받지 않기 때문에 opacity로 관리
            @include hide_sns(); //시간차 애니메이션
          }
          &.showing {
            @include show_sns(); //시간차 애니메이션
          }
          &.active {
            display: block;
          }
        }
      }
    }
    .right_menu {
      margin-right: 20px;
      display: flex;
      svg {
        margin-top: 10px;
        color: $lgray;

        &:hover {
          transition: color 0.5s ease-out;
          color: var(--active);
        }
      }

      .right_menu_theme {
        margin-right: 40px;
        font-size: 1.5625rem;
      }
      .right_menu_tag {
        position: relative;
        font-size: 1.5625rem;
        margin-right: 40px;
        display: flex;
        justify-content: center;

        .tag_list {
          top: 70px;
          position: absolute;
          display: flex;
          flex-direction: column;

          a {
            font-size: 1.2rem;
            z-index: 11;
            padding: 10px;
            margin-top: 10px;
            border-radius: 10px;
            white-space: nowrap;
            cursor: pointer;
            color: white;
            background-color: $dgray;

            display: none;
            &:hover {
              background-color: var(--btn);
            }
            &.hidden {
              //display 속성은 트랜지션의 영향을 받지 않기 때문에 opacity로 관리
              @include hide_sns(1, 8, 0.5); //시간차 애니메이션
            }
            &.showing {
              @include show_sns(1, 8); //시간차 애니메이션
            }
            &.active {
              display: block;
            }
          }
        }
      }
      @include mobile {
        .right_menu_theme {
          margin-right: 20px;
          font-size: 1.1rem;
          transition: font-size 0.4s ease-in-out;
        }
        .right_menu_tag {
          margin-right: 20px;
          font-size: 1.1rem;
          transition: font-size 0.4s ease-in-out;
        }
      }
    }
    @include mobile {
      a {
        font-size: 1.3rem;
      }

      img {
        height: 50px;
        transition: height 0.4s ease-in-out;
      }

      span {
        font-size: 0.9rem;
      }

      .about_btn {
        display: none;
      }
      .contect_sns {
        width: 62px; //이미지와 맞춘다.
        display: flex;
        justify-content: center;
        margin-bottom: -5.5rem;

        a {
          font-size: 1.4rem;
        }
      }
    }
  }
}
