@import "../../pages/them-color.scss";
@import "./media.scss";

.link-top {
  position: fixed;
  font-size: 3rem;
  right: 40px;
  bottom: -60px;
  color: var(--btn2);
  transition: bottom 0.2s ease-in-out;
  scroll-behavior: smooth;
  &.active {
    bottom: 30px;
    z-index: 9999;
  }
  &:hover {
    color: var(--active);
  }
}
