$black: #1b1b1b;
$gray: #636363;
$lgray: #838383;
$dgray: #2c2d31;
$white: #ecedf1;
$lwhite: #f2f3f7;

.blog-post-tablecontent {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0px;
  div {
    position: sticky;
    top: 10rem;
    width: 200px;
    span {
      font-weight: bold;
      font-size: 1.1rem;
      color: $gray;
      .toc_mark {
        font-size: 0.8rem;
      }
    }
  }
  @media (max-width: 1250px) {
    display: none;
  }
}
