$black: #1b1b1b;
$gray: #636363;
$lgray: #838383;
$dgray: #2c2d31;
$white: #ecedf1;
$lwhite: #f2f3f7;

html {
  font-family: "Nanum Gothic", cursive;
  font-size: 1.25rem;
  height: 100%;
  background-color: $lwhite;
  a {
    text-decoration: none;
    color: $dgray;
  }
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    .main_container {
      max-width: 720px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 4rem auto 20px auto;
      .menu_category {
        display: flex;
        justify-content: space-between;
        width: 170px;
        a {
          cursor: pointer;
          font-size: 24px;
          padding: 10px 10px;

          color: $lgray;
          &.active {
            color: $dgray;
            border-bottom: 2px solid $dgray;
          }
        }
      }
      .input_box {
        width: 560px;
        height: 45px;
        margin-top: 20px;
        display: flex;
        position: relative;
        input {
          width: 100%;
          height: 100%;
          font-size: 25px;
          border-radius: 6px;
          border: 1px solid $lgray;
        }
        .input_box_search {
          position: absolute;
          align-self: center;
          right: 20px;
          color: $lgray;
        }
      }
      .post_list {
        .post_item {
          position: relative;
          width: 560px;
          height: 240px;
          border-bottom: 1px solid $lgray;
          display: flex;
          align-items: center;
          p {
            font-size: 0.8rem;
            padding-left: 15px;
            color: $gray;
          }

          .post_item_date {
            position: absolute;
            font-size: 14px;
            left: 0px;
            bottom: 0px;
            color: $lgray;
            font-weight: bold;
          }

          .post_item_tag {
            position: absolute;
            right: 0px;
            bottom: 10px;

            a {
              cursor: pointer;
              margin-right: 10px;
              padding: 5px;
              border-radius: 8px;
              font-size: 16px;
              background-color: $lgray;
              color: white;
              &:hover {
                transition: background-color 0.5s ease-out;
                background-color: $black;
              }
            }
          }
        }
      }
    }
  }
}
