$dgray: #2c2d31;
@import "../them-color.scss";
@import "../../components/compoStyles/media.scss";

html {
  font-family: "Nanum Gothic", cursive;
  font-size: 16px;
  height: 100%;

  ul {
    list-style: none;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: $dgray;
  }
  div {
    outline: none;
  }
  body {
    min-height: 100%; //최소 높이값으로 설정해야 스크롤할때도 100%가 된다.
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    h1 {
      color: var(--title);
    }
    transition: all 0.2s ease-in-out 0s;
    .main_container {
      max-width: 720px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 4rem auto auto auto;

      .menu_category {
        display: flex;
        justify-content: space-between;
        width: 170px;
        div {
          cursor: pointer;
          font-size: 1.5rem;
          padding: 10px 10px;
          color: var(--subtitle);

          &.active {
            font-weight: bold;
            color: var(--title);
            border-bottom: 2px solid var(--title);
          }
        }
      }
      .input_box {
        width: 560px;
        height: 45px;
        margin-top: 20px;
        display: flex;
        position: relative;
        input {
          width: 100%;
          height: 100%;
          font-size: 1.5rem;
          border-radius: 6px;
          border: 1px solid var(--btn);
          &::placeholder {
            font-size: 1.2rem;
          }
        }
        .input_box_search {
          position: absolute;
          align-self: center;
          right: 20px;
          color: #838383;
        }
      }
      .post_list {
        .post_item {
          position: relative;
          width: 560px;
          height: 240px;
          border-bottom: 1px solid var(--line);
          display: flex;
          align-items: center;
          &.hidden {
            display: none;
          }
          p {
            font-size: 0.9rem;
            padding-left: 15px;
            color: var(--text);
          }

          .post_item_date {
            position: absolute;
            font-size: 0.9rem;
            left: 0px;
            bottom: 0px;
            color: var(--subtitle);
            font-weight: bold;
          }

          .post_item_tag {
            position: absolute;
            right: 0px;
            bottom: 10px;
            a {
              cursor: pointer;
              margin-right: 10px;
              padding: 5px;
              border-radius: 8px;
              font-size: 1rem;
              font-weight: bold;
              background-color: var(--btn);
              color: white;
              &:hover {
                transition: background-color 0.5s ease-out;
                background-color: var(--active);
              }
            }
          }
          .not_search {
            width: 100%;
            display: flex;
            justify-content: center;
            font-size: 1rem;
            color: var(--text);
          }
        }
      }
      @include smallerMobile {
        h1 {
          font-size: 1.5rem;
        }
        .input_box {
          width: 95%;
        }
        .post_list {
          .post_item {
            width: 95%;
            h1 {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}
